@import "../../styles/settings/variables.styl";

.button {
    width: 174px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 19px;
    border: none;

    @media screen and (max-width: 767px){
      background-color: red;
    }

    span{
        display: none;
    }

    &-light {
        background-color: $color-white;
        color: $color-green-dark;
        border: 1px solid $color-green-dark;
    }

    &-dark {
        background-color: $color-green-dark;
        color: $color-white;
    }

    &-right-arrow {
        &:before{
            content: "\02192";
            margin-right: 13px;
        }
    }


    &-left-arrow {
        &::before{
            content: "\02190";
            margin-right: 13px;
        }
    }
}
