@import "../../styles/settings/variables.styl";
@import "../../styles/settings/breakpoints.styl";

.home-wrapper {
  padding: 37px 40px;
  display: flex;
  flex-direction: column;

  >.title {
    font-size: 40px;
    line-height: 49px;
    font-weight: bold;
  }
}
