$background-color = floralwhite;
$text-color = #333;


$color-green-dark = #15573F;
$color-green-light= #7BAF9E;
$color-green-light-logo= #1A825A;
$color-orange-lighr= #FD9872;
$color-white= #fff;
$color-grey-light= #f6f6f6;

